header.header 
    .container-fluild 
        .row.align-items-center
            .col-3 
                .inner-logo
                    a(href="/admin/dashboard") ADMIN
                        //- img(src="/images/logo.png" alt="Logo")


            .col-9